@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubMembership.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Membership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="thisMember.Id" />
            <input type="hidden" asp-for="thisMember.ClubId " />
            <input type="hidden" asp-for="thisMember.StudentId" />

            <div class="form-group">
                <h6>Current Code</h6>
                <h6>@Model.currectCode</h6>
                <h6>New Code</h6>
                <input asp-for="thisMember.Code" class="form-control" />
                <span asp-validation-for="thisMember.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" >Code Used</label>
                <select asp-for="thisMember.Code" asp-items="ViewBag.MemberCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="thisMember.JoinDate" class="control-label"></label>
                <input asp-for="thisMember.JoinDate" class="form-control" />
                <span asp-validation-for="thisMember.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thisMember.LeaveDate" class="control-label"></label>
                <input asp-for="thisMember.LeaveDate" class="form-control" />
                <span asp-validation-for="thisMember.LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h3 class="text-danger">@ViewData["Nofication"]</h3>
<div>
    <a asp-page="./Index" asp-route-id="@Model.thisMember.ClubId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
